$columnas: ("one":1,
    "two":2,
    "three":3,
    "four":4,
    "five":5,
    "six":6,
    "seven":7,
    "eight":8,
    "nine":9,
    "ten":10);


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    @each $name,
    $val in $columnas {

        &.#{$name} {
            img {

                width: (100%/$val)-$val+1;
                margin: 0;
            }
        }
    }

}