extends layout.pug 

block content 
    .row 
        .col-12.col-md-7
            img(src="../img/banner.png" alt="imagen").img-fluid.mb-3.rounded-3
        .col-12.col-md-5
            h2 Product name 
            h3 123€
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem qui quia est odio nemo. Aliquam possimus in dolor ipsum ad quisquam vel accusantium alias nemo! Ipsum maxime id ea ex.
    .row 
        .col-12.col-md-7.row
            .col-12.col-md-3.pb-3
                img(src="../img/image.png" alt="imagen").img-fluid.rounded-3
            .col-12.col-md-3.pb-3
                img(src="../img/image.png" alt="imagen").img-fluid.rounded-3
            .col-12.col-md-3.pb-3
                img(src="../img/image.png" alt="imagen").img-fluid.rounded-3
            .col-12.col-md-3.pb-3
                img(src="../img/image.png" alt="imagen").img-fluid.rounded-3
        .col-12.col-md-5
            button.btn.btn-primary Añador al carrito
