@use "mixins";

@each $val in 1,
2,
3,
4,
5,
6,
7,
8,
9,
10,
11,
12 {
    .col-#{$val} {
        max-width: calc((100% / 12) * $val) !important;
        flex: 0 0 calc((100% / 12) * $val) !important;
    }
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    .column {
        border: 1px black solid;
    }
}

/* Larger than mobile screen */
@media (min-width: 500px) {
    @include mixins.generarColumns("sm");
}

/* Larger than tablet screen */
@media (min-width: 800px) {
    @include mixins.generarColumns("md");
}

/* Larger than desktop screen */
@media (min-width: 1000px) {
    @include mixins.generarColumns("lg");
}