$tam: ("md": 992px,
    "lg": 1200px);

@each $tam,
$tamVal in $tam {
    @media (min-width: $tamVal) {
        @for $num from 1 through 12 {
            .col-#{$tam}-#{$num} {
                width: calc((100%/12)*$num) !important;
            }
        }
    }

}

@for $num from 1 through 12 {
    .col-#{$num} {
        width: calc((100%/12)*$num);
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
}