@mixin desparecerColumn($nCol) {
    $tam: ("md": 992px,
            "lg": 1200px);

    @each $tama,
    $tamVal in $tam {
        @media (min-width: $tamVal) {
            .row.desa-#{$tama}-#{$nCol}>*:nth-child(#{$nCol}) {
                display: none;
            }
        }
    }

    .row.desa-#{$nCol}>*:nth-child(#{$nCol}) {
        display: none;
    }
}