@use 'mixin';

.row-col {
    display: flex;
    flex-direction: column;
}

.row-4-8 {
    &>*:first-child {
        width: calc((100%/12) *4);
    }

    &>*:nth-child(2) {
        width: calc((100%/12) *8);
        margin: 0;
    }
}

@include mixin.desparecerColumn(2);