@mixin generarColumns($tam) {

    @each $val in 1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12 {
        .col-#{$tam}-#{$val} {
            max-width: calc((100% / 12) * $val) !important;
            flex: 0 0 calc((100% / 12) * $val) !important;
        }
    }
}