.gallery.four
    img(src="../img/image.png", alt="imagen")
    img(src="../img/image.png", alt="imagen")
    img(src="../img/image.png", alt="imagen")
    img(src="../img/image.png", alt="imagen")
    img(src="../img/image.png", alt="imagen")
    img(src="../img/image.png", alt="imagen")