.gallery.four
    div 
        img(src="../img/image.png", alt="imagen")
    div 
        img(src="../img/image.png", alt="imagen")
    div 
        img(src="../img/image.png", alt="imagen")
    div 
        img(src="../img/image.png", alt="imagen")
    div 
        img(src="../img/image.png", alt="imagen")
    div 
        img(src="../img/image.png", alt="imagen")