.col-12.col-md-6.col-lg-4.row
    .col-11 
        img(src="../../img/image.png" alt="imagen")
    .col-1.estrellas
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
    .col-12 
        h4 Lorem
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptates, debitis eaque aut explicabo placeat error suscipit esse harum vel culpa expedita iste sint nemo inventore hic officia necessitatibus quod?