<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../src/milligram.css" />
</head>
<body>
    .container
        .row 
            .column.column-100 Hola 
            .column.col-12 Hola 
            .column.col-3 Columna de 3
            .column.col-3 Columna de 3
            .column.col-3 Columna de 3
            .column.col-3 Columna de 3
            .column.col-5 Columna de 5
            .column.col-5 Columna de 5
            .column.col-5 Columna de 5
            .column.col-5 Columna de 5
            .column.col-4 Columna de 4
            .column.col-4 Columna de 4
            .column.col-4 Columna de 4
</body>
</html>